@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --account-center-position-right: 3rem;
    --account-center-position-top: -0.8rem;
  }
}
@layer utilities {
  .bg-sprouted {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(/assets/homepage_bg.jpg);
    background-size: cover;
  }
  .bg-sprouted::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
}
